<!-- Image and text -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <img
      src="assets/angular.png"
      width="30"
      height="30"
      class="d-inline-block align-top"
      alt=""
    />
    Routing Demo
  </a>

  <div class="navbar-nav">
    <a
      class="nav-item nav-link"
      [routerLink]="['/']"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >Home</a
    >
    <a
      class="nav-item nav-link"
      [routerLink]="['/topic1']"
      routerLinkActive="active"
      >Topic 1</a
    >
    <a
      class="nav-item nav-link"
      [routerLink]="['/topic2']"
      routerLinkActive="active"
      >Topic 2</a
    >
    <a
      class="nav-item nav-link"
      [routerLink]="['/topic3']"
      routerLinkActive="active"
      >Topic 3</a
    >
    <a
      class="nav-item nav-link"
      [routerLink]="['/privy']"
      routerLinkActive="active"
      >Privy</a
    >
    <a
      class="nav-item nav-link"
      [routerLink]="['/topic1', '2019', 'Chennai']"
      routerLinkActive="active"
      >Topic 1 Route Params</a
    >
    <a
      class="nav-item nav-link"
      [routerLink]="['/topic3']"
      [queryParams]="{ q: 'question', country: 'India' }"
      [fragment]="'ThisIsTheFragment'"
      routerLinkActive="active"
      >Topic 3 Navigation Extras</a
    >
  </div>
</nav>
